<li class="<%= 'active' if current_page?('/') %>">
	<%= link_to 'Inicio', root_path%>
</li>

<li class="<%= 'active' if current_page?('/events/search') %>">
  <%= link_to 'Buscador', :controller => '/events', :action => 'search' %>
</li>

<li>
  <%= link_to current_producer.email, edit_producer_registration_path%>
</li>

<li>
	<%= link_to "Salir",destroy_producer_session_path , :method => :delete %>
</li>