<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag %>
    <title><%= yield(:title) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Evento" %>">

    <% if (@mostrar_meta) %>
      <meta property="og:site_name" content="<%= @event.name%>" />
      <meta property="og:title" content="<%= @event.name %>" />
      <meta property="og:description" content="<%= @event.description %>" />
      <meta property="og:url" content="<%= request.original_url %>"/>
    <% end %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <%= render 'layouts/messages' %>
    <main role="main">       
       <%= yield %>       
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
  </body>
</html>
